*body{
    margin: 0;
    padding: 0;
}
.orderCalculation {
       padding: 20px;
    margin: 0px auto;
    background-color: tomato;
    color: black;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgb(219, 22, 48);
    width: 100%;
    height: 400px;
    position: fixed;
    top: 15vh;
    right: 25%;
    left: 25%;
    z-index: 4;  
    display: none;  

}
.card{
    height: 850px !important;
    background-color: black !important;
    z-index:999 !important;
    
}
.textheader{
    font-family: 'Merienda', cursive;
    font-size: 50px; 
    padding: 30px;

}
.textone{
text-align: center;
padding-top: 40px;
font-size: 70px;
color: tomato;
font-family: 'Style Script', cursive;
}
   .img{
cursor:pointer;
       position: relative;
       display: block;
   }

    .texttwo{
       position: absolute;
       top: 0; right: 0;
       bottom: 0; left: 0;
       width: 320px;
       height: 400px; 
       text-align: center;
       background-color: rgba(0,0,0,0.8);
       opacity: 0;
       -webkit-transition: opacity 0.6s;
       -moz-transition: opacity 0.6s;
       transition: opacity 0.6s;
      vertical-align:middle;
      line-height:200px;
      color: yellow;
      font-size: 60px;
      font-family: 'Style Script', cursive;
    
   }

   .texttwo:hover{
       opacity: 1;      
   }
   .textfour{
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    font-weight: 500px;
    }
    .container-fluid{
        text-align: center;
        justify-content: space-evenly;
    }
    
     .locationArea{
         display: none;
     }   
    


  